*{
  margin: 0;
  padding: 0;
}
body{
  background: url("https://images.unsplash.com/photo-1529567186287-3e17bdefa342?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHNvdXJjZXxlbnwwfHwwfHx8MA%3D%3D");

background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.background{
  height: 100%;
  width: 100%;
}

.container{
  display: grid;
  place-items: center;
  height: 100vh;
}
 h2{
  font-size: 3vw;
  font-family: tahoma;
  color: #fff;
}
.setting{
  position: relative;
  bottom: 200px;
  left: 78%;
  display: flex;
  gap: 1rem;
}
.setting img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#btn{
  font-size:1rem ;
  padding: 2px;
  border-radius: 10px;
  background-color: green;
  color: white;
}
#data{
  font-size: 1rem;
  padding: 2px;
}
.hide{
  display: none;
}
.timecontainer{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

